* {
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    font-family: 'Montserrat';
    sans-serif
}

h1 {
    color: aliceblue;
    font-size: 20px;
}

h2 {
    padding: 12px;
    border: 2px dashed red;
}

/* odniesienie do bezprosredniego dziecka body */
body>header {
    border: 5px dashed green;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

body>header ul {
    display: flex;
    padding: 0;
}

body>header ul li {
    /* border: 5px dashed blue; */
    list-style: none;
    margin: .5rem;
    display: flex;
    justify-content: space-between;
}

body>header ul li a {
    display: flex;
    align-items: center;
}

main {
    border: 2px dashed red;
    display: flex;
    padding: .2rem;
    max-width: 1920px;
}

main article {
    border: 2px dashed blue;
    flex: 1;
}

main section {
    border: 2px dashed green;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main article img {
    border: 10px dashed pink;
    border-radius: 50%;
    box-shadow: 0 0 20px black;
    margin-bottom: 1rem;
}

main article table {
    width: 100%;
}

main article table td:nth-child(2) {
    /* border: 10px dashed red; */
    width: 100%;
}

.zipParent {background-color: aliceblue;
    border: 2px dashed red;
    height: 1rem;
    position: relative;
}

.zipChild { background-color: yellow;
    border: 2px dashed blue;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

/* <!--element.style {display: flex-start; flex-end, center}-->
<!--justify-content: space-between; space-evenly; space-around - ustawienie miedzy elementami prawo-lewo-->
<!--align-items: start; end; center - gora dol--> */
/* flex-direction: row; column; reverse */
/* flexbox froggy */
/* procenty odnosza sie do rodzicow, vw do wielkosci okna */
/* em zaleza od miejsca w ktorym sie znajduja, remy dotycza stalej jednej wartosci */
/* 2em, gdy mamy EM1, EM2 i EM3 EM1 15 px, EM2 bedzie 2xdomyslna czcionka 30 px = 60 px, EM3 bedzie 120px */
/* ctrl+k+0 - folduje, ctrl+k+j rozwija */