body{
    background-color: blanchedalmond;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.first{
    color: blue;
}

h1{
    color: green;
    font-size: 30px;
    margin: .5rem;
}

h2{
    padding: 12px;
    color: black;
}
    
body > header{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}
body > header ul {
    display: flex;
    padding: 0;
    align-items: flex-start;
}
body > header ul li {
    list-style:none;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
}