
*{
	box-sizing: border-box;
}
img{
	max-width: 100%;
}

body{
	margin:0;
	font-family: 'Montserrat', sans-serif;
}
/* > odniesienie do BEZPOŚREDNIEGO dziecka  */
body > header{ 
	display:flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}
body > header #toggler,
body > header label {
	display: none;
}
body > header ul {
	display:flex;
	padding:0;
}

body > header ul li {
	list-style:none;
	margin:0 .4rem;
	padding:0 .5rem;
}

h1 {
	margin: .5rem;
}
main{

	border: 2px dashed red;
}
main article{
	border: 2px dashed blue;
	flex: 1;
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
main section{
	border: 2px dashed green;
	
	padding: 1rem 2rem;
}
.zipParent{
	border: 1px dashed red;
	border-radius: 5px;
	height: 1rem;
	position: relative;
}
.zipChild{
	border-radius: 5px;
	
}
@media(max-width:768px)
{
	body{
		border: 10px dashed;
	}
	main{flex-direction: column;
	}


nav{position: relative;}


body >header ul{
	background: #eee;
	flex-direction: column;
	position: absolute;
	right: 0;
	top: -15rem;
	transition: .5s;
	padding: 1rem 1rem .5rem 1rem;
}
body >header ul li,
body >header ul li a{
	margin: 0;
	padding: 0;
}
#toggler:checked ~ ul{
top: 100%;}

body >header label
{
	display: flex;
}
.burger {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: .5rem;
	position: relative;
}
.burger div{
	background: #000;
	position: absolute;
	width: 100%;
	height: 10%;
	transition: .5s;
}
.burger div:nth-child(1){
	top:10%;
}
.burger div:nth-child(2){
	top:40%;
}
.burger div:nth-child(3){
	top:70%;
}
#toggler:checked ~ .burger div:nth-child(1){
	transform: rotate(45deg);
	top:40%;

}
#toggler:checked ~ .burger div:nth-child(3){
	transform: rotate(-45deg);
	top:40%;

}
#toggler:checked ~ .burger div:nth-child(2){
	opacity: 0;

}
}