
body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pacifico', cursive;
 
}
body
img:
    max-width:100%;
h1{
    
    margin: .5rem;
    color: blue;

}

body > header{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

body > header ul{
   
    display:flex;
    padding: 0;
}

body > header ul li{
   
    list-style: none;
    margin: 0 .5rem;
    padding: 0 .5rem;
    

}
body > header ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

main{
    border: 2px solid red;
    display: flex;
    padding: 2rem;
}
main article{
    border: 2px solid rgb(167, 8, 21);
    display: flex;  
}
main section{
    border: 2px solid rgb(11, 11, 174);  
}


