
body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pacifico', cursive;
 
}
img{
     max-width:100%; 

}
  
h1{
    
    margin: .5rem;
    color: blue;

}

body > header{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

body > header ul{
   
    display:flex;
    padding: 0;
}

body > header ul li{
   
    list-style: none;
    margin: 0 .5rem;
    padding: 0 .5rem;
    

}
body > header ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

main{
    border: 2px solid red;
    display: flex;
    padding: 2rem;
}
main article{
    border: 2px solid rgb(167, 8, 21);  
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;


}
main article img {
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin-bottom: 1rem;
}
main section{
    border: 2px solid rgb(11, 11, 174);  
    flex:2;

}


