body{
    margin-left: 25px;

    --background-color:#df99c1;
    --foreground-color:#fff;
}

h1 {
    border: 5px solid  pink 
    padding:0px; 
 

    border: 5px  solid rgb(128, 11, 50);
}

 body > header{
    border: 5px dashed pink;
    display:flex;
    justify-content: space-between;
}
 body > header ul {
   border:5px dashed green
   display:flex; 
   padding:0;
 }

 body > header ul li {
    border:5px dashed blue
    list-style-type: style none;
    mar
 }