img{
    max-width: 100;
}

body{
    margin-left: 25px;

    --background-color:#df99c1;
    --foreground-color:#fff;
display:flex; 
flex-direction: column;
align-items: center;
max-width: 100%;
}

body > header h2 {
    border: 10px dotted red
}

h1 {
 
     padding:0px; 
    margin: .5rem;

}

 body > header{
    border: 5px dashed pink;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
 body > header ul {
 
   display:flex; 
   padding:0;
 }

 body > header ul li {
    
    list-style-type:  none;
    margin: 0 .5rem;
    padding:0 .5rem;
    align-items: center;
    text-decoration: none;
    

 }
 main {
    border:5px dashed red;
    display:flex;
    max-width: 1920px;
    
 }
 main article{
    border:5px dashed yellow;
    flex:1;
    padding: 0% 2rem;

 }
 main article img{
    border: 5px dashed blue;
    aspect-ratio: 1/1;
 }
 main section{
    border:5px dashed green;
    flex:2;
 }