body{
    font-family: "oswald";
    background-color: rgba(112, 112, 112, 0.525);
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;


   }

   body > header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
 

   body>header ul{
    display: flex;
    padding: 0;
   }

   body > header li{
    list-style: none;
    margin: 0 .5rem;
    padding: 0 .5rem;
   
   }

   table{
    border: 2px solid black;
   }
   
   tr > img{
    width: 30px;
   }
  
h1{
    margin: .5rem;
}


h2{
    padding: 12px;
    border: 2px dashed rgb(46, 201, 62);
    border: 2px solid purple;
    display:inline-flex
}
