*{
    box-sizing: border-box;
}


img{
    max-width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Signika Negative';
    margin: 0;
    padding: 0;
}


h1{
    color: white;
    font-size: 30px;
    margin: .5rem;
    font-family: 'Henny Penny';
}
/* Odniesienie do bezpośredniego dziecka */
body > header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    width: 100%;
    position: sticky;
    top: 0
    
}

body > header ul{
    display: flex;
    padding: 0;
}

body >header ul li{

    list-style: none;
    font-size: 1.25rem;
    margin: 0 .5rem;
    padding: 0 .5rem;
}

body >header ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

main{

    display: flex;
    max-width: 100%;
    
    
}

main article{

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

main article img{

    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 0 30px rgb(18, 54, 18);
}


main section{

    flex: 2;
    padding: 1rem;
}


main article table{
    width: 100%;
}

main article table td:nth-child(2){

width: 100%;
}


.zipParent{
    height: 1rem;
    position: relative;
    border: 3px solid black;
    border-radius: 5px;
}


.zipChild{

    position: absolute;
    height: 100%;
    width: 70%;
    background: red;
   
}






