img{
    max-width: 100%
}

body{
    margin-left: 25px;
    background-color: aqua;
}

h1{
    margin: .5rem;
}

ul{
    font-size: 30px
}
.first{
    color: brown;
}
body header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body header ul{
    display: flex;
    padding: 0;
    font-size: 40px

}
body header ul li{
    list-style: square; 
    margin: 0 1rem;
    padding: 0 .5rem;    
}
body header ul li a{
    align-items: center;
    list-style:none;
	margin:0 .4rem;
	padding:0 .5rem;
}
main{
    border: 10px dashed red;
    display: flex;
    padding:0 2rem;
    }
main article{
    border: 10px dashed blue;
    flex: 1;
}
main section{
    border: 10px dashed green;
    flex: 2
}