*{
    box-sizing: border-box;
}


img{
    max-width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Signika Negative';
    margin: 0;
    padding: 0;

}


h1{
    color: white;
    font-size: 30px;
    margin: .5rem;
    font-family: 'Times New Roman';
}
/* Odniesienie do bezpośredniego dziecka */
body > header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right top, #1469e9, #261bbb, #06dbee, #33443d, #17afb9);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    
}
body > header #toggler,
body > header #label{
   display: none;
}



body > header ul{
    display: flex;
    padding: 0;
}

body >header ul li{

    list-style: none;
    font-size: 1.25rem;
    margin: 0 .5rem;
    padding: 0 .5rem;
}

body >header ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

main{

    display: flex;
    max-width: 100%;
    padding: 0 5rem;
    
    
}

main article{

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

main article img{

    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 0 30px rgb(18, 54, 18);
}


main section{

    flex: 2;
    padding: 1rem 2rem;
}


main article table{
    width: 100%;
}

main article table td:nth-child(2){

width: 100%;
}


.zipParent{
    height: 1rem;
    position: relative;
    border: 3px solid black;
    border-radius: 5px;
}


.zipChild{

    position: absolute;
    height: 100%;
    width: 70%;
    background: red;
   
}

h2{
    margin: 0;
    padding: 1rem;
}

/* Style ładowane tylko na mobile */
@media(max-width: 768px){

  

    main{
        flex-direction: column;
    }

    nav{
        position: relative;

        
       
    }

    body > header ul{
        flex-direction: column;
        position: absolute;
        right: 0;
        background-color: gray;
        top: -10rem;
        transition: .5s;
        padding: 1rem 1rem .5rem 1rem;
        
    } 

    




    #toggler:checked ~ ul{
        top: 100%;

    }

    body > header ul li{
        margin: 0;
        padding: 0;
    }


    body > header label{
        display: flex;
       

    }
}

.hamburger {
    /* border: 2px dashed blue; */
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
    position: relative;
}

.hamburger div {
    /* border: 2px dashed green; */
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: black;
    transition: 0.5s;
}

.hamburger div:nth-child(1)  {
    top: 10%;
}

.hamburger div:nth-child(2){
    top: 40%;
}
.hamburger div:nth-child(3) {
    top: 70%;
}

#toggler:checked ~ .hamburger div:nth-child(1) {
    transform: rotate(45deg);
    top:40%;
}

#toggler:checked ~ .hamburger div:nth-child(3) {
    transform: rotate(-45deg);
    top:40%;
}

#toggler:checked ~ .hamburger div:nth-child(2) {
    display: none;
}
