*{
    box-sizing: border-box;


}





img{
    max-width: 100%;

}


h1{
    
    margin: .5rem;
}

body{

    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b7e85df0-cb48-4378-a3d5-af3c91ad805b/d99ntem-55331dd8-aa44-4147-a1ae-b80c83228182.jpg/v1/fill/w_612,h_350,q_70,strp/ains_by_pinguinkepo_d99ntem-350t.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTg2IiwicGF0aCI6IlwvZlwvYjdlODVkZjAtY2I0OC00Mzc4LWEzZDUtYWYzYzkxYWQ4MDViXC9kOTludGVtLTU1MzMxZGQ4LWFhNDQtNDE0Ny1hMWFlLWI4MGM4MzIyODE4Mi5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.0eclKYhtq71gcJyY4b9heEe8AlmkbvZQRmq5x9S2Qpw);
	background-size: 100% 50% ;
    margin:0;
	font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}

body > header{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1;
} 

body > header #toggler,
body > header label {
    display:none;
}


body > header ul{
   
    display:flex;
    padding: 0;
}

body > header ul li{
   
    list-style: none;
    margin: 0 .5rem;
    padding: 0 .5rem;

}

body > header ul li a{
	display:flex;
	align-items: center;
	text-decoration: none;
}


h2{
    margin: 0;
    
}
main{
    /* border: 15px dashed red; */
    display: flex;
    max-width: 1920 px;
    padding: 0 5rem;

}

main article table{
    width: 100%;

}


.zipParent{
    border: 1px solid black;
    border-radius: 5px;
    height: 1rem;
    position: relative;

}

.zipChild{
    border-radius: 5px;
    background: yellow;
    position: absolute;
    height: 100%;
    width: 70%;
}



main article table td:nth-child(2){
    
    width: 100%;
}

main article{
    /* border: 15px dashed blue; */
    flex: 1;
    padding: 0 2rem;
    display: flex;
    flex-direction: column ;
    align-items: center;

}

main article img{
    
  
    border-radius: 30% ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 1rem
}

main section{
    /* border: 15px dashed rgb(5, 218, 5); */
    flex: 2;
    padding: 1rem 2rem;
}

/* stuli tolko na telefon */
@media(max-width: 768px){
    body{
        /* border: 12px dashed green; */
    }
    main{
        flex-direction: column;
        padding: 0;
    }

    nav{
        position: relative;
    }
    body > header ul{
        border: 5px dashed rgb(8, 8, 255);
        background: rgb(77, 192, 245);
        flex-direction: column;
        position: absolute;
        right:0;
        top: -55rem;
        transition: 2s;
        padding: 1rem 1rem .5rem 1rem;

    }

    
    body > header ul li a,
    body > header ul li{
        margin: 0;
        margin-bottom: .5rem;
        padding: 0;

    }
    #toggler:checked ~ ul{
        top: 100%;
    }
 

    body > header label {
        display:flex;
 
    }

.burger{
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
    position: relative;

}

.burger div{
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 10%;
    transition: .5s;

}

.burger div:nth-child(2){
    top: 10%;
}

.burger div:nth-child(2){
    top: 40%;
}
.burger div:nth-child(3){
    top: 70%;
}

#toggler:checked ~ .burger div:nth-child(1){
    transform: rotate(45deg);
    top: 40%;

}

#toggler:checked ~ .burger div:nth-child(2){
    opacity: 0;
}

#toggler:checked ~ .burger div:nth-child(3){
    transform: rotate(-45deg);
    top: 40%;

}

}