*{
    box-sizing: border-box;

}





img{
    max-width: 100%;
}


h1{
    
    margin: .5rem;
}

body{
	margin:0;
	font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}

body > header{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
} 

body > header ul{
   
    display:flex;
    padding: 0;
}

body > header ul li{
   
    list-style: none;
    margin: 0 .5rem;
    padding: 0 .5rem;

}

body > header ul li a{
	display:flex;
	align-items: center;
	text-decoration: none;
}

main{
    border: 15px dashed red;
    display: flex;
    max-width: 1920 px;
}

main article table{
    width: 100%;

}

.zipParent{
    border: 1px solid black;
    border-radius: 5px;
    height: 1rem;
    position: relative;

}

.zipChild{
    border-radius: 5px;
    background: yellow;
    position: absolute;
    height: 100%;
    width: 70%;
}

main article table td:nth-child(2){
    
    width: 100%;
}

main article{
    border: 15px dashed blue;
    flex: 1;
    padding: 0 2rem;
    display: flex;
    flex-direction: column ;
    align-items: center;

}

main article img{
    
  
    border-radius: 30% ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;}

main section{
    border: 15px dashed rgb(5, 218, 5);
    flex: 2;
}









