
body{
	margin:0;
	font-family: 'Montserrat', sans-serif;
}
/* > odniesienie do BEZPOŚREDNIEGO dziecka  */
body > header{ 
	display:flex;
	justify-content: space-between;
	align-items: center;
}

body > header ul {
	display:flex;
	padding:0;
}

body > header ul li {
	list-style:none;
	margin:0 .4rem;
	padding:0 .5rem;
}

body > header ul li a{
	display:flex;
	align-items: center;
	text-decoration: none;
}

h1 {
	margin: .5rem;
}
